    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ffcc70, #ff8c42);
}

/* HEADER */
header{
    background: #d62828;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

/* TARJETAS */
.card{
    background: white;
    width: 280px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card h2{
    margin: 10px 0;
    color: #d62828;
}

.card p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* BOTON */
button{
    background: #f77f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: #d62828;
}

/* FOOTER */
footer{
    text-align: center;
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 30px;
}